/*/target/*
.appsody-spring-trigger

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### app specific
/*/src/main/resources/application-dev.yml
kustomization.yml

### Intellij ###
.idea
